<!DOCTYPE html>
<html lang="<%= @model['site']['lang'] %>" prefix="og: http://ogp.me/ns#">
<%= render "header.erb" -%>
<body>
<main class="wrapper">
<%= render "navigation.erb" -%>
<%= render -%>
<%= render "footer.erb" -%>
</main>
<%= render "structured_data.erb" -%>
</body>
</html>
