<% encoded_title = ERB::Util.url_encode @model['title'] -%>
<% encoded_url = ERB::Util.url_encode absolute_url(@model['site']['domain'], @model['link']) -%>
<% encoded_image = ERB::Util.url_encode absolute_url(@model['site']['domain'], @model['image']) -%>
  <!--googleoff: all--><div class="social-share">
    <span class="social-share-caption">Megosztás:</span>
    <a class="social-share-link" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=<%= encoded_url %>" target="_blank">Facebook</a>
    <a class="social-share-link" rel="nofollow" href="https://x.com/intent/post?url=<%= encoded_url %>&amp;text=<%= encoded_title %>" target="_blank">X</a>
    <a class="social-share-link" rel="nofollow" href="https://pinterest.com/pin/create/button/?url=<%= encoded_url %>&amp;description=<%= encoded_title %>&amp;media=<%= encoded_image %>" target="_blank">Pinterest</a>
    <a class="social-share-link" rel="nofollow" href="https://www.reddit.com/submit?url=<%= encoded_url %>&amp;title=<%= encoded_title %>" target="_blank">Reddit</a>
  </div>
  <!--googleon: all-->
